@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rubik:wght@300;400;500;700;800&display=swap');
* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
    font-weight: normal;
    font-weight: 300;
}
:root {
    --natural-white: rgba(255, 255, 255, 1);
    --background-color: #0D0D2B;
}
.logo span {
    font-weight: 800;
    color: var(--natural-white);
}
.logo img {
    margin-right: 1rem;
}
.logo {
    display: flex;
    align-items: center;
}
.navcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 3rem;
    font-size: 16px;
    font-weight: 200;
    background-color: #0D0D2B;
}
.nav-links li {
    display: inline-block;
    padding: 0 1.25rem;
    text-decoration: none; 
}
.nav-links li a {
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.5s ease 0s;
}
button {
    text-decoration-style: none;
    margin-right: 1rem;
    background-color:#3671E9;
    border-radius: 32px;
    border: none;
    width: 130px;
    height: 52px;
}
nav button {
    font-size: 16px;
}
.register-btn {
    background: #3671E9;
    padding: 14px 32px;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
}
.login-btn {
    font-weight: 300;
    background-color: transparent;
}
.flex-container {
    display: flex;
    padding: 0 3rem;
    position: relative;
    justify-content: center;
    background-color: #0D0D2B;
}
/* Select all child elements. element > element. */
.flex-container > div {
    margin: 10px;
    padding: 20px;
}
.flex-container .main-text {
    margin-top: 3rem;
}
.flex-container .main-text .main-save {
    display: flex;
    align-items: center;
}
.flex-container .main-text .save-btn {
    width: 113px;
    height: 25px;
    background: var(--natural-white);
    border-radius: 32px;
    color: black;
    font-size: 12px;
    padding: 0.5;
}
.flex-container .main-text .main-save {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    max-width: 60%;
    margin-bottom: 1.2rem;
}
.flex-container .main-text span {
    font-size: 14px;
    background-color: transparent;
    color: var(--natural-white);
}
.flex-container .main-text h1{
    font-weight: 600;
    font-size: 55px;
    margin-bottom: 1.2rem;
}
.flex-container .main-text p{
    font-size: 20px;
    font-weight: 300;
    font-variant: normal;
}
.flex-container .main-text .main-btn {
    margin-top: 1.2rem;
    width: 202px;
    height: 64px;  
    background: #3671E9;
    border-radius: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;  
}
.flex-container .main-text i {
    padding-left: 1.6rem;
    font-size: 25px;
    background: none;
    width: 40px;
    color: var(--natural-white);
}
.gradient-bg{
    position: absolute;
    width: 120px;
    height: 997.88px;
    left: 440px;
    top: 250.86px;
    margin-left: 40px;
    background: linear-gradient(180.09deg, rgba(255, 255, 255, 0) 0.49%, rgba(255, 255, 255, 0.04) 39.06%, rgba(255, 255, 255, 0) 99.92%);
    transform: rotate(-120deg);
}
.gradient-bglast {
    position: absolute;
    width: 120px;
    height: 997.88px;
    left: 860px;
    top: 392.86px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 34.75%, rgba(255, 255, 255, 0.01) 100%);
    transform: rotate(-120deg);
}
.learnmore {
    background-color: #0D0D2B;
    min-height: 865px;
    min-width: 90%;
}
.learnmore h2, h3 {
    color: var(--natural-white);
}
.learnmore > div {
    display: flex;
    min-height: 70px;
    justify-content: center;
}
.learnmore .icons .learn-iconbox {
    display: flex;
    width: 70%;
    justify-content: center;

}
.learnmore .icons .learnicon {
    display: flex;
    align-items: center;
    padding: 0.2rem;
    max-height: 60px;
    max-width: 60px;
    background-color: rgba(248, 248, 248, 0.09);
    margin-right: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.learnmore .icons {
    display: flex;
}
.learnmore .icons .learnicon i {
    margin: 0.7rem;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4px;
    color: rgb(255, 255, 255);
    font-size: 30px;
   
}
.learnmore .icons .learnicon h2 {
    font-size: 30px;
    font-weight: 800;
}
.learnmore .icons .learnicon .icon-text {
    padding: 1rem;   
}
.learnmore .learnmore-image {
    width: 50%;
    height: 200px;
}
.learnmore .learnmore-text {
    padding: 1rem;
    width: 50%;
    height: 200px;
}
.learnmore-main {
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    font-weight: 300;
}
.learnmore-text h2 {
    font-size: 40px;
    font-weight: 500;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.learnmore-main .learnmore-text .button {
    margin-top: 1rem;
    background-color: #3671E9;
    padding: 14px;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    font-size: 14px;
}
.learnmore-main .learnmore-text .learnmore-info {
    width: 70%;
}
.trade-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    align-items: center;
}
.trade-container > div { 
    width: 50%;
}
.trade-container .trade-headingtxt {
    text-align: center;
    font-weight: 300;
    background-color: var(--background-color);
    width: 100%;
    height: 357px;
}
.trade-container .trade-headingtxt h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--natural-white);
}
.trade-container .trade-card {
    margin-top: -9rem;
    background-color: #fff;
    height: 300px;
    padding: 2rem 2rem;
    width: 55%;
    border-radius: 10px;  
}
.trade-container .trade-card form {
    text-align: center;    
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
.trade-container .trade-card .form-btn{
    background-color: #3671E9;
    border-radius: 32px;
}
select{
    background-color: var(--natural-white);
    color: rgb(0, 0, 0);
    width: 70px;
    border-style: none;
    box-shadow: none;
    border-bottom: 1px solid #E0E0E0;
}
input{
    background-color: var(--natural-white);
    border-style: none;
    border-bottom: 5px #3671E9;
    min-width: 230px;
}
input::placeholder{
    color: rgb(0, 0, 0);
}
input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #E0E0E0;
}
.trade-info {
    margin-top: 4rem;
}
.trade-info span {
    margin-top: 1rem;
    color: #3671E9;
    font-weight: 500;
}
.trade-info h3 {
    margin: 1rem 0;
    font-weight: 400;
    color: #000000;
}
.trade-info p {
    font-size: 12px;
    font-weight: 300;
    color: #000000;
}
.trade-info h5 {
    color: #3671E9;
}

/* Earn section */
.earn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(180deg, #e8e8e9 0%, #eceef5 100%);    
    width: 100%;
    padding-bottom: 3rem;
}
.earn-heading {
    width: 35%;
    color: #0D0D2B;    
    line-height: 150%;
}
.earn p, h2, span {
    color:#000000;
}
.earn h2 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 23rem;
}
.earn-iconcards {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-top: 3rem;
}
.earn-iconcard {
    text-align: center;
    margin: 1rem;
    width: 25%;
    padding: 1rem;
    border-radius: 15px;
    background-color: var(--natural-white);
    flex-direction: column;
}
.fa-bitcoin {
    margin-top: 1.5rem;
    color: rgb(249, 170, 75)
}
.earn-iconcard:first-child {
    background-color: #2B076E;
}
.earn-iconcards .earn-iconcard h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 1.5rem;
    position: relative;
    color:#0D0D2B;  
    margin-top: 2rem;
}
.earn-iconcard:first-child p,
.earn-iconcard:first-child h3,
.earn-iconcard:first-child span {
    color: var(--natural-white);
}
.earn-iconcards .earn-iconcard h3 span {
    font-weight: 300;
    font-size: 11px;
    padding-bottom: 1rem;
    padding-left: 0.2rem;
    position: absolute;
    top: 0;
}
.earn-iconcards .earn-iconcard button{
    margin-top: 1rem;
}
.earn-iconcards .earn-iconcard .cards-btn {
    border-radius: 50%;
    border: 2px solid rgb(197, 197, 197);
    height: 55px;
    width: 55px;
    background-color: var(--natural-white);
}
.fa-angle-right {
    color: #3671E9;
    font-size: 17px;
}
.fa-ethereum {
    font-size: 30px;
    background: 59C19C;
    border-radius: 50%;
    display: inline-block;
    height: 50px;   
    width: 50px;
    text-align: center;
    padding: 0.5rem;
    background-color: #3671E9;
    margin-top: 1.5rem;
}
.fa-litecoin-sign {
    background-color: #59C19C;
    font-size: 30px;
    background: 59C19C;
    border-radius: 50%;
    display: inline-block;
    height: 50px;   
    width: 50px;
    text-align: center;
    padding: 0.5rem;
    margin-top: 1.5rem;
}
/* Feature section */
.feature {
    background-color: #2B076E;
    height: 800px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
}
.feature .feature-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 3rem;
}
.feature h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5rem;
    width: 40%;
}
.feature .featurecontainer {
    display: flex;
    width: 100%;
    min-height: 300px;
    padding: 2rem;
    background-color: #2B076E;
}
.featureboxfirst {
    width: 100%;
    padding: 1rem;
    margin-top: 3rem;
}
.featureboxfirst h3 {
    font-weight: 600;
    margin-bottom: 2rem;
}
.featureboxfirst p {
    margin-bottom: 2rem;
}
.featureboxsecond {
    width: 50%;    
}
.featureboxsecond img {
    margin-right: 4rem;
}
.feature-containermiddle {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #2B076E;
}
.featuremiddle-text {
    padding-left: 6rem;
    padding: 8rem;
}
.featuremiddle-text h3 {
    font-weight: 600;
    margin-bottom: 2rem;
}
.featuremiddle-text p {
    margin-bottom: 2rem;
}
.feature-containerlast {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #2B076E;
    padding-top: 4rem;
    padding-bottom: 10rem;
}
.featurelast-text {
    padding-left: 6rem;
}
.featurelast-text h3 {
    font-weight: 600;
    margin-bottom: 2rem;
}
.featurelast-text p {
    margin-bottom: 2rem;
}
.featureboxlast-image {
    margin-right: 2rem;
}

/* Start mining section */
.mining-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2B076E;
    padding-bottom: 5rem;
}
.mining-container .mining-box {
    background-color: #3671E9;
    width: 80%;
    padding: 2rem;
    display: flex;
    align-items: center;
    border-radius: 16px;
}
.mining-container .mining-box .mining-text {
    width: 31%;
    height: 100%;
}
.mining-container .mining-box .mining-text h3 {
    font-weight: 600;
    margin-bottom: 2rem;
}
.mining-container .mining-box .mining-text p {
    font-weight: 200;
}
.mining-container .mining-box .formbtn button{
    margin-top: 1rem;
    background-color: #ffffff;
    padding: 14px;
    color: rgb(0, 0, 0);
    align-items: center;
    border-radius: 32px;
    font-size: 14px;
    margin-left: 3rem;
    font-weight: 400;
}
.mining-container .mining-box .form {
    width: 40%;
    margin-left: 4rem;
}
.mining-container .mining-box .form input {
    background: transparent;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 0.5rem;
    width: 100%;
}
.mining-container .mining-box .form input::placeholder {
    color: #ffffff;
    font-size: 14px;
}
/* Footer */
footer {
    background-color: #0D0D2B;
}
.footertopcontainer {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-bottom: 3rem;
}
.footertopcontainer .footer-logo {
    display: flex;
    max-height: 40px;
    align-items: center;
    text-align: center;
}
.footertopcontainer .footer-logo img {
    min-width: 25px;
    min-height: 25px;
    padding-right: 0.7rem;
}
.footertopcontainer h3 {
    font-weight: 400;
    padding-bottom: 0.5rem;
}
.footertopcontainer .footer-payment h3 {
    width: 80%;
}
.footertopcontainer .footer-payment .footericons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footertopcontainer .footer-payment .footericon {
    padding: 0.5rem;
    min-height: 55px;
    min-width: 70px;
    background-color: rgba(248, 248, 248, 0.09);
    margin-right: 4rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footertopcontainer .footer-payment .footericons i{
    color: #ffffff;
}
/* footer bottom part */
.footer-bottomcontainer{
    width: 100%;
    display: flex;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
}
.footer-bottomcontainer .footer-copyright {
    width: 70%;
}
.footer-bottomcontainer .footer-copyright p {
    font-size: 13px;
}
.footer-bottomcontainer .footer-socialicons {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-right: 4rem;
}
.footer-bottomcontainer .footer-socialicons i {
    font-size: 20px;
}
